#colorTab-div table {
    border-collapse: collapse;

    margin: 1% 1%;
}

#colorTab-div td {
    width: 4em;
    height: 2em;
}

#output {
    border: 1pt solid black;
    width: 160px;
    height: 18px;
    padding-left: 6px;

    margin: 1.5% 2%;
}

#colorTab-div td.selected {
    border: 2pt solid white;
}