#spreadsheet-div table {
    border-collapse:collapse;
    table-layout: fixed;
    border: 1pt solid black;
    empty-cells: show;
}

#spreadsheet-div th {
    width: 4em;
    border: 1pt solid black;
    display:inline-block;
    height: 2em;
}


#spreadsheet-div tr {
    white-space:nowrap;
}

#spreadsheet-div th, #spreadsheet-div tr td:first-child {
        text-align:center;
        vertical-align:middle;
        font-weight:bold;
        background:gray;
    }

#spreadsheet-div th::after, #spreadsheet-div tr td:first-child::after {
               content: " ";
               height:2em;

               background:pink;
               display:inline-block;
               vertical-align:middle;
           }

#spreadsheet-div td {
    display:inline-block;
    border: 1pt solid black;
    width: 4em;
    height: 2em;
}

#spreadsheet-div td.selected {

    background: #ddffdd;

}


/* Styles definis pour le projet */

/* On commence par definir les marges pour tous les elements de la classe "style" */
.style {
    margin: 10px 2.5px 10px 2.5px;
}

/* On definit ensuite des styles specifiques pour les elements qui en ont besoin */
#bold {
    font-weight: bold;
    margin-left : 0px; }

#italic { font-style: italic; }
#underline { text-decoration: underline; }
#color { margin-left: 15px; }
#listCol { margin-left: 5px; }
#color_input-div { display: inline; }
#linkCol { margin: 10px 5px; }
#bordStyle { margin-left: 15px; }

/* On definit des couleurs de background correspondant aux classes */
.bgblack  { background-color: black;  }
.bgwhite  { background-color: white;  }
.bggray   { background-color: gray;   }
.bgred    { background-color: red;    }
.bggreen  { background-color: green   }
.bgyellow { background-color: yellow; }
.bgblue   { background-color: blue;   }
.bgpurple { background-color: purple; }

/* ainsi que les couleurs de texte */
.black  { color: black;  }
.white  { color: white;  }
.gray   { color: gray;   }
.red    { color: red;    }
.green  { color: green;  }
.yellow { color: yellow; }
.blue   { color: blue;   }
.purple { color: purple; }